@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Candy Page";
}

@section Scripts {
    <script src="~/ClientApp/runtime.js"></script>
    <script src="~/ClientApp/polyfills.js"></script>
    <script src="~/ClientApp/styles.js"></script>
    <script src="~/ClientApp/vendor.js"></script>
    <script src="~/ClientApp/main.js"></script>
}

@*<html>
    <head>
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <p>This is from the @ViewBag.Title</p>
    </body>
    </html>*@

<p>This is from the @ViewBag.Title</p>
<p>cool</p>
<app-root></app-root>