<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <header>This is the header</header>
    <section>
        <h2>@ViewBag.Title</h2>
        @RenderBody()
    </section>
    <footer>This is the footer</footer>
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    @RenderSection("Scripts",required:false)
</body>
</html>
